@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 390px) {
  * {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  outline: none;
}

input {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  z-index: -1;
  background-color: #ffd300;
}

body {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.home {
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  margin-top: 0;
}

.app {
  height: 100%;
  overflow-y: scroll;
}

.navbar-container {
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.navbar-container .navbar-content {
  width: 70%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content {
    width: 100vw;
  }
}

.navbar-container .navbar-content .logo-small {
  display: none;
  width: 40px;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content .logo-small {
    display: block;
  }
}

.navbar-container .navbar-content h1 {
  color: palevioletred;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content h1 {
    display: none;
  }
}

.navbar-container .navbar-content form {
  width: 500px;
  height: 50px;
  padding: 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content form {
    width: 180px;
    height: 30px;
    padding: 3px 6px;
    border-radius: 3px;
    overflow: hidden;
  }
}

.navbar-container .navbar-content form input {
  height: 40px;
  width: 420px;
  outline: none;
  padding: 5px 10px;
  border: none;
  background-color: #eee;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content form input {
    width: 130px;
    height: 25px;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: small;
  }
}

.navbar-container .navbar-content form button {
  background-color: #ffd300;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content form button {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: small;
  }
}

.navbar-container .navbar-content form button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  cursor: pointer;
}

.navbar-container .navbar-content .info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: visible;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content .info {
    width: 60px;
    margin-right: 10px;
  }
}

.navbar-container .navbar-content .info .fa-user {
  color: #ffd300;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content .info .fa-user {
    width: 20px;
  }
}

.navbar-container .navbar-content .info .cart i {
  color: #464646;
}

.navbar-container .navbar-content .info .cart .fa-shopping-cart {
  color: palevioletred;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content .info .cart .fa-shopping-cart {
    width: 25px;
  }
}

.navbar-container .navbar-content .info .cart .cart-count {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -10px;
  line-height: 0;
  right: 60px;
  font-weight: bolder;
  font-size: 0.7rem;
  border-radius: 50%;
  background-color: #ffd300;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content .info .cart .cart-count {
    width: 15px;
    top: 0px;
    height: 15px;
    right: 30px;
  }
}

.navbar-container .navbar-content .info .cart .cart-count p {
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
}

@media screen and (max-width: 390px) {
  .navbar-container .navbar-content .info .cart .cart-count p {
    font-size: smaller;
    overflow: visible;
  }
}

.navbar-container .navbar-content .info .cart:hover {
  cursor: pointer;
}

.banner-container {
  margin-top: 150px;
  width: 100vw;
  height: 300px;
}

@media screen and (max-width: 390px) {
  .banner-container {
    margin-top: 90px;
    height: 150px;
  }
}

.banner-container .banner-content {
  width: 70%;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.7fr 1fr;
      grid-template-columns: 1.7fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 390px) {
  .banner-container .banner-content {
    width: 100vw;
    height: 150px;
    display: block;
  }
}

.banner-container .banner-content .main-banner {
  background-color: #ffd300;
  border-radius: 15px;
}

.banner-container .banner-content .main-banner .banner-small {
  display: block;
  max-width: 90%;
  margin: auto;
}

@media screen and (max-width: 390px) {
  .banner-container .banner-content .main-banner .banner-small {
    display: block;
  }
}

@media screen and (max-width: 390px) {
  .banner-container .banner-content .main-banner {
    border-radius: 0;
    width: 100vw;
    height: 150px;
  }
}

.banner-container .banner-content .side-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-container .banner-content .side-banner .side-item {
  width: 500px;
  height: 145px;
  border-radius: 10px;
  background-color: palevioletred;
}

.banner-container .banner-content .side-banner .side-item .side-one {
  height: 90%;
  display: block;
  margin: auto;
}

@media screen and (max-width: 390px) {
  .banner-container .banner-content .side-banner .side-item .side-one {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .banner-container .banner-content .side-banner .side-item {
    display: none;
  }
}

.category-container {
  margin-top: 30px;
  width: 100vw;
  height: 100px;
}

@media screen and (max-width: 390px) {
  .category-container {
    margin-top: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .category-container::-webkit-scrollbar {
    display: none;
  }
}

.category-container .category-content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 390px) {
  .category-container .category-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.category-container .category-content .item {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffd300;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-align: center;
}

.category-container .category-content .item:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (max-width: 390px) {
  .category-container .category-content .item {
    background-color: #fff;
    overflow-y: hidden;
  }
  .category-container .category-content .item:hover {
    color: palevioletred;
  }
}

.category-container .category-content .item .fas {
  color: #ffd300;
}

@media screen and (max-width: 390px) {
  .category-container .category-content .item p {
    font-size: 0.7rem;
  }
}

.category-container .category-content .item i {
  color: #ffd300;
}

.products-container {
  margin-top: 30px;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media screen and (max-width: 390px) {
  .products-container {
    margin-top: 5px;
  }
}

.products-container .products-content {
  width: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 390px) {
  .products-container .products-content {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  .products-container .products-content h1 {
    text-align: center;
    font-size: 1.2rem;
  }
}

.products-container .products-content .products-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media screen and (max-width: 390px) {
  .products-container .products-content .products-grid {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.products-container .products-content .products-grid .product-grid-items {
  margin-top: 10px;
  background-color: white;
  position: relative;
  width: 200px;
  height: 280px;
  border-radius: 10px;
  border: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-align: center;
}

.products-container .products-content .products-grid .product-grid-items:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.products-container .products-content .products-grid .product-grid-items h5 {
  position: absolute;
  top: 60%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  font-size: 1.1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.products-container .products-content .products-grid .product-grid-items p {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.9rem;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.products-container .products-content .products-grid .product-grid-items button {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffd300;
  border: 0;
  border-radius: 10px;
  font-weight: bolder;
  outline: none;
  padding: 5px 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.products-container .products-content .products-grid .product-grid-items button:hover {
  background-color: rgba(255, 211, 0, 0.9);
  cursor: pointer;
}

.products-container .products-content .products-grid .product-grid-items .product-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 150px;
  margin-top: 20px;
}

.detail-container {
  width: 50vw;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border: 0;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 390px) {
  .detail-container {
    width: 100vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    top: 450px;
  }
}

.detail-container a {
  text-decoration: none;
  color: inherit;
}

.detail-container .back {
  position: absolute;
  top: 5%;
  left: 5%;
  font-weight: bolder;
}

@media screen and (max-width: 390px) {
  .detail-container .back {
    top: 10%;
  }
}

.detail-container .back:hover {
  cursor: pointer;
  color: #ffd300;
}

.detail-container .detail-image {
  margin-top: 120px;
}

@media screen and (max-width: 390px) {
  .detail-container .detail-image {
    overflow: hidden;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.detail-container .detail-image img {
  max-width: 350px;
  max-height: 400px;
  margin: auto;
  display: block;
}

.detail-container .detail-text {
  margin-top: 120px;
}

@media screen and (max-width: 390px) {
  .detail-container .detail-text {
    width: 100%;
    margin-top: 20px;
    margin-left: 15px;
    overflow-y: hidden;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.detail-container .detail-text p {
  margin-top: 50px;
  max-width: 400px;
}

@media screen and (max-width: 390px) {
  .detail-container .detail-text p {
    margin-top: 10px;
    max-width: 90vw;
  }
}

.detail-container .detail-text h5 {
  margin-top: 10px;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.detail-container .btn-keranjang {
  position: relative;
  background-color: palevioletred;
  border: 0;
  outline: 0;
  color: white;
  padding: 10px 12px;
  text-transform: uppercase;
  border-radius: 10px 0px 0px 10px;
}

@media screen and (max-width: 390px) {
  .detail-container .btn-keranjang {
    margin-bottom: 100px;
  }
}

.detail-container .btn-keranjang:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 10px rgba(136, 50, 68, 0.2);
          box-shadow: 1px 1px 10px rgba(136, 50, 68, 0.2);
}

.detail-container .quantity {
  margin-top: 50px;
}

.detail-container .quantity .quantity-text {
  margin-right: 10px;
}

.detail-container .quantity button {
  font-weight: bolder;
  font-size: 1.2rem;
  width: 20px;
  border: 0;
  background-color: palevioletred;
  color: #eee;
  border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  margin-right: 10px;
}

.detail-container .quantity button:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px rgba(136, 50, 68, 0.2) al;
          box-shadow: 1px 1px 2px rgba(136, 50, 68, 0.2) al;
}

.detail-container .btn-beli {
  position: relative;
  background-color: #ffd300;
  border: 0;
  outline: 0;
  color: #464646;
  text-transform: uppercase;
  padding: 10px 12px;
  border-radius: 0 10px 10px 0;
  margin-left: 0px;
}

.detail-container .btn-beli:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 10px rgba(201, 143, 37, 0.2);
          box-shadow: 1px 1px 10px rgba(201, 143, 37, 0.2);
}

.footer {
  margin-top: 70px;
  text-align: center;
  color: #eee;
  background-color: #252525;
  width: 100vw;
  height: 300px;
  padding-top: 140px;
}

.thanks {
  text-align: center;
  margin-top: 500px;
}

@media screen and (max-width: 390px) {
  .thanks {
    margin-top: 200px;
  }
}

.cart-container {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 390px) {
  .cart-container {
    width: 100vw;
    margin-top: 130px;
  }
}

.cart-container .cart-content {
  width: 60%;
  padding: 15px 20px;
  margin: auto;
  min-height: 400px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

@media screen and (max-width: 390px) {
  .cart-container .cart-content {
    width: 100%;
  }
}

.cart-container .cart-content .back {
  position: absolute;
  top: 24%;
  left: 25%;
  font-weight: bolder;
}

@media screen and (max-width: 390px) {
  .cart-container .cart-content .back {
    top: 13%;
    left: 10%;
  }
}

.cart-container .cart-content .cart-total {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 66.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-container .cart-content .cart-total .total-value {
  text-align: right;
}

.cart-container .cart-content .cart-grid-container {
  width: 90%;
  margin: auto;
}

.cart-container .cart-content .cart-grid-container hr {
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

.cart-container .cart-content .cart-grid-container .cart-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-container .cart-content .cart-grid-container .cart-grid p:nth-child(3) {
  text-align: right;
  margin-right: 130px;
}

.cart-container .cart-content .cart-grid-container .cart-head {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-size: smaller;
}

.cart-container .cart-content .cart-grid-container .cart-head h2 {
  font-weight: lighter;
}

.bayar-cart {
  padding: 10px 12px;
  background-color: #ffd300;
  outline: none;
  text-transform: uppercase;
  font-weight: bolder;
  border: 0;
  border-radius: 10px;
}

.bayar-cart:hover {
  cursor: pointer;
  opacity: 0.8;
}
/*# sourceMappingURL=main.css.map */